%geometria-extralight{
  font-family:'Geometria-ExtraLight';
}
%geometria-light{
  font-family:'Geometria-Light';
}
%geometria-regular{
  font-family:'Geometria';
}
%geometria-medium{
  font-family:'Geometria-Medium';
}
%geometria-bold{
  font-family:'Geometria-Bold';
}
%monserat-regular{
  font-family: 'Montserrat', sans-serif;
  font-weight: 400;
}